<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= active_link_to orders_path, class: 'nav-link', active: { status: '' } do %>
      All
      <span class="badge text-bg-primary"><%= Order.count %></span>
    <% end %>
  </li>

  <% Order.statuses.keys.each do |status| %>
    <li class="nav-item">
      <%= active_link_to orders_path(status: status), class: 'nav-link', active: { status: status } do %>
        <%= status.capitalize %>

        <span class="<%= class_names('badge', order_badge_class(status)) %>">
          <%= Order.by_status(status).count %>
        </span>
      <% end %>
    </li>
  <% end %>
</ul>
